<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <a href="case/#{support_case.id}/specify" class="govuk-link--no-visited-state">
       <%= support_case.organisation.capitalize %>
    </a>
  </td>

  <td class="govuk-table__cell">
    <strong class="govuk-tag govuk-tag--green">
      <%= support_case.status.upcase %>
    </strong>
  </td>

  <td class="govuk-table__cell"><%= support_case.category.upcase %></td>
  <td class="govuk-table__cell"><%= support_case.assigned_to %></td>
  <td class="govuk-table__cell"><%= support_case.last_updated.strftime("%e %B %Y") %></td>
</tr>